.all {
    .container {
        gap: 20px;
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 500px) {
            font-size: 10px;
            margin: 15px;
        }
    }

    article {
        width: 40%;
        height: 500px;
        padding: 15px;
        margin-top: 10px;
        text-align: center;
        transition: all .5s;
        border-radius: 15px;
        border: 2px solid $textColor;

        &:hover {
            width: 43%;
            height: 525px;  
        }

        @media (max-width: 1244px) {
            width: 400px;
            height: 500px;
            font-size: 17px;

            &:hover {
                width: 400px;
                height: 500px; 
            }

        }

        @media (max-width: 425px) {
            font-size: 13px; 
        }
    }
}