* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 0 auto;
  font-size: 20px;
  color: rgb(153, 153, 153);
  background-color: rgb(0, 0, 0);
  font-family: "Sofia Sans Condensed";
}
body .wrapper {
  position: relative;
  height: 100%;
}
body p::-moz-selection {
  background-color: #95E1D3;
  color: black;
}
body p::selection {
  background-color: #95E1D3;
  color: black;
}
body .container {
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

h1, h2, h3, h4 {
  color: #95E1D3;
  font-size: 36px;
  transition: all 0.5s;
  border-bottom: 3px solid #95E1D3;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(153, 153, 153);
}

.wrapper {
  width: 100%;
  height: 100%;
}

header {
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  border-radius: 15px;
  background-color: black;
  border-bottom: 3px solid #95E1D3;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .logo {
  border-bottom: #95E1D3;
}

.menu_list {
  padding-bottom: 3px;
  display: flex;
  gap: 10px;
}
.menu_list_item {
  padding-right: 10px;
  list-style: none;
}
.menu_list_item:not(:last-child) {
  border-right: 2px solid #95E1D3;
}
.menu_list_item_link {
  transition: all 0.5s;
}
.menu_list_item_link:hover {
  color: #95E1D3;
  border-bottom: #95E1D3;
}
.menu_list_item_link::-moz-selection {
  background-color: #95E1D3;
  color: black;
}
.menu_list_item_link::selection {
  background-color: #95E1D3;
  color: black;
}

#toggle {
  display: none;
}

#toggle:checked ~ nav {
  z-index: 5;
  display: flex;
  height: 150px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
}

.toggle_btn span {
  height: 2px;
  width: 30px;
  display: none;
  position: relative;
  transition: transform 0.4s;
  background-color: #95E1D3;
}
@media (max-width: 768px) {
  .toggle_btn span {
    display: block;
  }
}
.toggle_btn span::before {
  content: "";
  top: -8px;
  height: 2px;
  width: 30px;
  display: block;
  position: absolute;
  background-color: #95E1D3;
  transition: transform 0.4s top 0.4s;
}
.toggle_btn span::after {
  content: "";
  top: 8px;
  height: 2px;
  width: 30px;
  display: block;
  position: absolute;
  transition: top 0.4s;
  background-color: #95E1D3;
}

#toggle:checked ~ .toggle_btn span {
  transform: rotate(45deg);
  z-index: 10;
}
#toggle:checked ~ .toggle_btn span::after {
  content: "";
  top: 0;
  z-index: 10;
}
#toggle:checked ~ .toggle_btn span::before {
  content: "";
  transform: rotate(-90deg);
  top: 0;
  z-index: 10;
}

@media (max-width: 768px) {
  nav {
    top: 0px;
    right: 0;
    z-index: 161;
    width: 100%;
    height: 100%;
    display: none;
    list-style: none;
    position: absolute;
    background-color: #F2F3F6;
  }
  .menu_list-_ink {
    text-decoration: none;
    color: rgb(153, 153, 153);
  }
}
@media (max-width: 768px) {
  .toggle_btn {
    display: block;
  }
  .menu_list {
    font-family: "Sofia Sans Condensed";
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
  }
}
.home {
  padding: 50px;
  margin-top: 50px;
  background-color: black;
}
@media (max-width: 1024px) {
  .home {
    margin-top: 0;
  }
}
.home .container {
  gap: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  border-radius: 15px;
  justify-content: space-around;
  border-bottom: 3px solid #95E1D3;
}
.home_page {
  padding: 20px;
}
.home_page .categories {
  gap: 15px;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .home_page .categories {
    display: flex;
    flex-wrap: wrap;
  }
}
.home_page .categories .category {
  border: 2px solid #95E1D3;
  border-radius: 15px;
  text-align: center;
  transition: all 0.6s;
  padding-top: 15px;
  height: 95px;
  width: 130px;
}
.home_page .categories .category:hover {
  background-color: #95E1D3;
  color: black;
}
.home_page .categories .category p {
  margin: 0;
}
.home .uptitle {
  height: 300px;
  width: 700px;
}
@media (max-width: 767px) {
  .home .uptitle {
    height: 200px;
    width: 350px;
    margin: 0;
  }
}
.home_title {
  font-size: 56px;
  color: #95E1D3;
}
@media (max-width: 767px) {
  .home_title {
    font-size: 36px;
    margin: 0;
  }
}
.home .home_img {
  height: 400px;
  width: 400px;
}
@media (max-width: 1024px) {
  .home .home_img {
    height: 300px;
    width: 300px;
  }
}
.home .category img {
  width: 25px;
  height: 25px;
}

.all .container {
  gap: 20px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .all .container {
    font-size: 10px;
    margin: 15px;
  }
}
.all article {
  width: 40%;
  height: 500px;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  transition: all 0.5s;
  border-radius: 15px;
  border: 2px solid #95E1D3;
}
@media (max-width: 1244px) {
  .all article {
    width: 400px;
    height: 500px;
    font-size: 17px;
  }
}
.all article:hover {
  width: 43%;
  height: 525px;
}

.footer {
  width: 100%;
  text-align: center;
  border-radius: 15px;
  border-top: 3px solid #95E1D3;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 558px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer .container img {
  width: 60px;
  height: 60px;
}

.me p:not(:first-child) {
  margin: 0;
}
.me_title {
  color: #95E1D3;
}

.info_title {
  color: #95E1D3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #95E1D3;
  border-radius: 5px;
}